<div class="media mb-4" id="comment-{{_id}}" style="border-left: 1px solid grey;padding: 10px">
    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
    <div class="media-body">
        <div class="row">
            <div class="col-12">
                <h5 class="mt-0">{{user.name}} {{user.surname}}
                    <span class="mt-0" style="color: #aaa; font-size: 13px;">{{publish_date}}</span>
                </h5>
            </div>
        </div>
        <div>
            {{body}}
        </div>
        <div>
            <div class="response-button">
                <a href="#comment_write_response_{{_id}}" data-toggle="collapse"><strong>Responder</strong></a>
            </div>

            <div id="comment_write_response_{{_id}}" class="collapse">
                <div class="form-group">
                    <label for="write-response">Escribe tu respuesta</label>
                    <textarea class="form-control" id="comment-response-body-{{_id}}" rows="3"></textarea>
                    <div>
                        <button class="btn btn-primary submit-write-response" data-parent-commentid="{{_id}}">Submit</button>
                    </div>
                </div>
            </div>

            {{#if comments}}
                <a href="#comment_response_of_{{_id}}" data-toggle="collapse">Mostrar Respuestas</a>
                <div id="comment_response_of_{{_id}}" class="collapse">
                {{#each comments}}
                    {{>  comment_template }}
                {{/each}}
                </div>
            {{/if}}
        </div>
    </div>
</div>