<div class="row">
    <div class="col-12">
        <div id="accordion" class="panel panel-primary behclick-panel">
            <div class="panel-heading">
                <h5 class="panel-title">Filtro de búsqueda</h5>
            </div>
            <div class="row">
                <div class="form-group col-12 col-md-12">
                    <label for="selectGenre" class="col-form-label">Género</label>
                    <select id="selectGenre" v-model="filter.genre" class="form-control">
                        <option v-for="genre in genres">\{{genre}}</option>
                    </select>
                </div>
                <div class="form-group col-12 col-md-12">
                    <label class="col-form-label" for="filter_name_album">Album</label>
                    <input type="text" class="filter_input form-control" id="filter_name_album"
                           v-model="filter.name.album" placeholder="Album">
                </div>
                <div class="form-group col-12 col-md-12">
                    <label class="col-form-label" for="filter_name_song">Canción</label>
                    <input type="text" class="filter_input form-control" id="filter_name_song"
                           v-model="filter.name.song" placeholder="Canción">
                </div>
                <div class="form-group col-12 col-md-12">
                    <label class="col-form-label" for="filter_name_artist">Artista</label>
                    <input type="text" class="filter_input form-control" id="filter_name_artist"
                           v-model="filter.name.artist" placeholder="Artista">
                </div>

                <div class="form-group col-12">
                    <label class="col-form-label" for="sliderDuration">Duración</label>
                    <vue-slider id="sliderDuration"
                                v-model="filter.duration.value"
                                v-bind="filter.duration.vueSliderOptions"></vue-slider>
                </div>
            </div>
        </div>
    </div>
</div>