<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-4  col-md-4 col-sm-6 col-12 ">
                    <h3> Social </h3>
                    <div class="row">
                        <div class="social">
                            <ul>
                                <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
                                <!-- <li><a href="#"><i class="fa fa-lg fa-google-plus"></i></a></li> -->
                                <!-- <li><a href="#"><i class="fa fa-lg fa-github"></i></a></li> -->
                                <!-- <li><a href="#"><i class="fa fa-lg fa-pinterest"></i></a></li> -->
                                <!-- <li><a href="#"><i class="fa fa-lg fa-linkedin"></i></a></li> -->
                                <!-- <li><a href="#"><i class="fa fa-lg fa-flickr"></i></a></li> -->
                                <li><a href="#"><i class="fa fa-lg fa-instagram"></i></a></li>
                                <!-- <li><a href="#"><i class="fa fa-lg fa-vimeo-square"></i></a></li> -->
                                <!-- <li><a href="#"><i class="fa fa-lg fa-stack-overflow"></i></a></li> -->
                                <!-- <li><a href="#"><i class="fa fa-lg fa-dropbox"></i></a></li> -->
                                <!-- <li><a href="#"><i class="fa fa-lg fa-tumblr"></i></a></li> -->
                                <!-- <li><a href="#"><i class="fa fa-lg fa-dribbble"></i></a></li> -->
                                <!-- <li><a href="#"><i class="fa fa-lg fa-skype"></i></a></li> -->
                                <!-- <li><a href="#"><i class="fa fa-lg fa-stack-exchange"></i></a></li> -->
                                <li><a href="#"><i class="fa fa-lg fa-youtube"></i></a></li>
                                <!-- <li><a href="#"><i class="fa fa-lg fa-xing"></i></a></li> -->
                                <!-- <li><a href="#"><i class="fa fa-lg fa-rss"></i></a></li> -->
                                <!-- <li><a href="#"><i class="fa fa-lg fa-foursquare"></i></a></li> -->
                                <li><a href="#"><i class="fa fa-lg fa-youtube-play"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.row-->
            <div class="footer-bottom">
                <div class="row">
                    <div class="col-12">
                        Copyright © Footer E-commerce Plugin 2014. All right reserved.
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="/privacy">Política de Privacidad</a>
                    </div>
                </div>
            </div>
        </div>
        <!--/.container-->
</footer>
<!--/.footer-->
