<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Musik</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {{#if user }}
                    <li class="nav-item">
                        <a class="nav-link" href="/explore">Explorar</a>
                    </li>
                {{/if}}
                <li class="nav-item">
                    <a class="nav-link" href="/about">Sobre nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pricing">Premium</a>
                </li>
                {{#if user }}
                    <li class="nav-item">
                        <a class="nav-link" href="/settings">Ajustes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/login/logout">Cerrar sesión</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Entrar</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
