{{#with album}}
    <!-- Page Content -->
    <div class="container" id="album-container" data-albumid="{{_id}}">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">{{name}} <span class="d-none d-md-inline">|</span>
            <small>{{authorName}}</small>
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active">{{authorName}}</li>
        </ol>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-6">
                <img class="img-fluid" src="{{image}}" alt="">
            </div>

            <div class="col-md-6">

                <h4 class="my-3">
                    Genero
                    <small class="text-muted">{{genreName}}</small>
                </h4>
                <h4 class="my-3">
                    Fecha de publicación
                    <small class="text-muted">{{release_dateString}}</small>
                </h4>
                <p>{{description}}</p>
            </div>
        </div>
        <!-- /.row -->
        <h2 class="mt-5">Album songs</h2>
        <table id="songs" class="table table-striped table-responsive">
            <tbody>
            {{#each songs}}
                <tr>
                    <th class="align-middle">{{math @index "+" 1}}</th>
                    <td class="align-middle">{{name}}</td>
                    <td class="align-middle">{{duration}}</td>
                    <td class="align-middle px-0">
                        <vue-star song-name="{{name}}" rating="{{rating}}" rating-mean="{{rating_mean}}"></vue-star>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>

        <div class="mt-5"><h2>Comentarios</h2></div>
        <div id="comments_div">
            <div class="jumbotron">
                <div class="container">
                    <div class="comment-new row" v-if="!isGuest">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="comment-new-body"><h4>Añade un comentario</h4></label>
                                <textarea v-model="responseText" class="form-control" id="comment-new-body"
                                          rows="3"></textarea>
                                <div class="pull-right mt-1">
                                    <button @click="response" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-new-old-separator row">
                        <div class="col-12">
                            <h4>Otros comentarios</h4>
                            <hr/>
                            <div class="col-12">
                            </div>
                        </div>
                    </div>
                    <div v-if="comments.length">
                        <div v-for="comment in comments">
                            <vue-comment is-guest="{{../user.isGuest}}" :data="comment"></vue-comment>
                        </div>
                    </div>
                    <div class="text-center" v-else="">
                        Oops! Aun no ha comentado nadie! Se el primero en hacerlo.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/x-template" id="star_template">
        <div class="stars" @mouseleave="leave()" data-toggle="tooltip" data-placement="top" :title="'Votación media: ' + ratingMean">
            <i :class="['fa', hoverId > 0 ? 'fa-star' : 'fa-star-o', {song_rated_by_you: ratingValue}]" @click="rate(1)" @mouseover="hover(1)"/>
            <i :class="['fa', hoverId > 1 ? 'fa-star' : 'fa-star-o', {song_rated_by_you: ratingValue}]" @click="rate(2)" @mouseover="hover(2)"/>
            <i :class="['fa', hoverId > 2 ? 'fa-star' : 'fa-star-o', {song_rated_by_you: ratingValue}]" @click="rate(3)" @mouseover="hover(3)"/>
            <i :class="['fa', hoverId > 3 ? 'fa-star' : 'fa-star-o', {song_rated_by_you: ratingValue}]" @click="rate(4)" @mouseover="hover(4)"/>
            <i :class="['fa', hoverId > 4 ? 'fa-star' : 'fa-star-o', {song_rated_by_you: ratingValue}]" @click="rate(5)" @mouseover="hover(5)"/>
        </div>
    </script>


    <script type="text/x-template" id="comment_template">
        <div>
            <div class="media mb-4" :id="'comment-' + data._id" style="border-left: 1px solid grey;padding: 10px">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="mt-0">\{{data.user.name}} \{{data.user.surname}}
                                <span class="mt-0" style="color: #aaa; font-size: 13px;">
                                    \{{data.publish_date}}
                                </span>
                            </h5>
                        </div>
                    </div>
                    <div>
                        \{{data.body}}
                    </div>
                    <div>
                        <div v-if="!isGuest">
                            <div class="response-button">
                                <a :href="'#comment_write_response_' + data._id"
                                   data-toggle="collapse"><strong>Responder</strong></a>
                            </div>

                            <div :id="'comment_write_response_' + data._id" class="collapse">
                                <div class="form-group">
                                    <label for="write-response">Escribe tu respuesta</label>
                                    <textarea class="form-control" :id="'comment-response-body-' + data._id"
                                              rows="3" v-model="responseText"></textarea>
                                    <div class="pull-right mt-1">
                                        <button class="btn btn-primary"
                                                :data-parent-commentid="data._id" @click="response">Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-if="data.comments.length">
                            <a :href="'#comment_response_of_' + data._id" data-toggle="collapse">Mostrar
                                Respuestas</a>
                            <div :id="'comment_response_of_' + data._id" class="collapse">
                                <vue-comment is-guest="!isGuest" v-for="comment in data.comments" :key="comment._id" :data="comment"></vue-comment>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>


    <!-- /.container -->
    <script type="text/javascript">
        Vue.component("vue-comment", {
            template: "#comment_template",
            props: ["data", "isGuest"],
            data: function () {
                return {
                    responseText: "",
                }
            },
            methods: {
                response: function () {
                    if (this.responseText.trim().length > 0) {
                        $.ajax({
                            method: "POST",
                            url: "/detail/comment",
                            data: {
                                album_id: $('#album-container').data("albumid"),
                                comment_parent_id: this.data._id.toString().trim(),
                                comment_body: this.responseText,
                                user_id: "{{../user_id}}"
                            }
                        }).done(res => {
                            vueCommentsGeneral.getAll();
                            this.responseText = "";
                        }).fail(err => {toastr.error(err.responseText); console.error(err.responseText); });
                    }
                }
            }
        });
        Vue.component("vue-star", {
            template: "#star_template",
            props: {"songName": String, "rating": [Number, String], "ratingMean": {type: [Number, String], default: 0}},
            data: function () {
                return {
                    hoverId: this.ratingMean,
                    ratingValue: this.rating,
                    isGuest: "{{../user.isGuest}}"
                }
            },
            methods: {
                rate: function (newRating) {
                    if(this.isGuest) {
                        toastr.error("El usuario invitado no puede votar");
                        return;
                    }
                    let oldRatingValue = this.ratingValue;
                    this.ratingValue = newRating;
                    $.ajax({
                        method: "POST",
                        url: "/detail/rating",
                        data: {
                            album_id: $('#album-container').data("albumid"),
                            song_name: this.songName,
                            rating: newRating
                        }
                    })
                            .fail(err => {
                                this.ratingValue = oldRatingValue;
                                toastr.error(err);
                                console.error(err);
                            });
                },
                hover: function (id) {
                    this.hoverId = id;
                },
                leave: function () {
                    this.hoverId = this.ratingValue || this.ratingMean || 0;
                }
            }
        });

        new Vue({
            el: "#songs"
        });

        let vueCommentsGeneral = new Vue({
            el: "#comments_div",
            data: {
                msg: "Text",
                comments: [],
                responseText: "",
                isGuest: "{{../user.isGuest}}"
            },
            mounted: function () {
                this.getAll();
            },
            methods: {
                response: function () {
                    if (this.responseText.trim().length > 0) {
                        $.ajax({
                            method: "POST",
                            url: "/detail/comment",
                            data: {
                                album_id: $('#album-container').data("albumid"),
                                comment_body: this.responseText,
                                user_id: "{{../user_id}}"
                            }
                        }).done(() => {
                            this.getAll();
                            this.responseText = "";
                        }).fail(err => {console.error(err); toastr.error(err); });
                    }
                },
                getAll() {
                    $.get("/detail/{{_id}}/comments").then((data) => {
                        this.comments = data;
                    })
                }
            }
        });
    </script>

{{/with}}
<script src="/js/detail.js"></script>