<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Explora todos los álbumes </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">Explorar</li>
    </ol>

    <div class="row" id="explorerComponent">
        <!-- Filter -->
        <div class="col-lg-3 mb-4">
            {{> filter}}
        </div>
        <!-- Albums -->
        <div class="col-lg-9" v-if="filteredAlbums.length">
            <div class="row">
                <div class="col-lg-3 mb-3" v-for="album in filteredAlbums">
                    <a :href="'/detail/' + album._id">
                        <div class="card h-100 text-center">
                            <img class="card-img-top" :src="album.image" alt="">
                            <div class="card-body">
                                <h4 class="card-title">\{{album.authorName}}</h4>
                                <h6 class="card-subtitle mb-2 text-muted">\{{album.name}}</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-9" v-else="">
            <h2>No se han encontrado álbumes con los filtros seleccionados.</h2>
        </div>
    </div>
</div>
<script type="text/javascript">
    let explorerComponent = new Vue({
        // Element we are getting as template
        el: "#explorerComponent",
        // Data
        data: {
            "albums": [],
            "genres": ['Todos'],
            "filter": {
                "name": {
                    "album": "",
                    "song": "",
                    "artist": ""
                },
                "duration": {
                    "value": [0, 100000000000],
                    "vueSliderOptions": {
                        min: 0,
                        max: 100000000000,
                        tooltip: "hover",
                        formatter: function (val) {
                            let date = new Date(null);
                            date.setSeconds(val);
                            let isoDate = date.toISOString();
                            return this.duration >= 3600 ? isoDate.substr(11, 8) : isoDate.substr(14, 5);
                        }
                    }
                },
                "genre": "Todos",
            }
        },
        // Computed properties
        computed: {
            filteredAlbums: function () {
                return this.albums
                // Filter by album name
                        .filter(album => this.filter.name.album ? album.name.toLowerCase().includes(this.filter.name.album.toLowerCase()) : true)
                        // Filter by song name
                        .filter(album => this.filter.name.song ? album.songs.some(song => song.name.toLowerCase().includes(this.filter.name.song.toLowerCase())) : true)
                        // Filter by author name
                        .filter(album => this.filter.name.artist ? album.authorName.toLowerCase().includes(this.filter.name.artist.toLowerCase()) : true)
                        // Filter by genre
                        .filter(album => this.filter.genre === "Todos" ? true : album.genreName.includes(this.filter.genre))
                        // Filter by min duration
                        .filter(album => this.filter.duration.value[0] ? album.songs.reduce((total, song) => song.duration + total, 0) >= this.filter.duration.value[0] : true)
                        // Filter by max duration
                        .filter(album => this.filter.duration.value[1] ? album.songs.reduce((total, song) => song.duration + total, 0) <= this.filter.duration.value[1] : true)
            },
        },
        // Events fired on mounted component
        mounted: function () {
            $.get("/explore/albums", data => {
                // Once we get the albums, save them
                this.albums = data;
                // Get the max duration from an album
                this.filter.duration.vueSliderOptions.max = this.albums.reduce((maxDur, album) => {
                    let albumDuration = album.songs.reduce((totalDur, song) => totalDur + song.duration, 0);
                    return maxDur > albumDuration ? maxDur : albumDuration;
                });
                // Set the current max value to the max value possible
                this.filter.duration.value[1] = this.filter.duration.vueSliderOptions.max;
            });
            // Also, save the genres
            $.get("/explore/genres", data => {
                this.genres = this.genres.concat(data.sort());
            })
        },
        // Other external components we are using
        components: {
            'vue-slider': window['vue-slider-component'],
        }
    });
</script>