<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2000">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('img/slider1.png')">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Musica para todos</h1>
                    <!-- <p>This is a description for the first slide.</p> -->
                </div>
            </div>

            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('img/slider2.png')">
                <div class="carousel-caption d-none d-md-block" style="color:black">
                    <h1>Premium para toda tu familia</h1>
                </div>
            </div>

            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('img/slider3.png')">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Estudiantes: 50% de descuento en Premium</h1>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    <div class="col-12 text-center">
        <h1 class="my-4">{{#if user}}Recommended for you{{else}}Latest in musik{{/if}}</h1>
    </div>
<div class="row">
    {{#each index_albums}}
        <div class="col-lg-4 mb-4">
            <a href="/detail/{{id}}">
                <div class="card h-100 text-center">
                <img class="card-img-top" src="{{image}}" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{authorName}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{name}}</h6>
                </div>
        </div>
        </a>
    </div>
    {{/each}}
</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".album").on("click", function () {
            console.log(this.getAttribute("value"));
        });
    });
</script>
