<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Musik{{#if title}} | {{title}}{{/if}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/filtro.css" rel="stylesheet">
    <link href="/css/explore.css" rel="stylesheet">
    <link href="/css/comment.css" rel="stylesheet">
    <link href="/css/detail.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/vue/vue.js"></script>
    <script src="/vendor/vue/vue-slider-component.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</head>
<body>
{{> nav}}
{{{body}}}
{{> footer}}

<!-- Bootstrap core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
<script type="text/javascript">
    $(document).ready(function(){

        var success ="{{success}}";
        if(success.length > 0){
            toastr.options = {
                "progressBar": true,
                "preventDuplicates": true,
                "positionClass": "toast-top-right",
            }
            toastr.success(success);
        }

        var error ="{{error}}";
        if(error.length > 0){
            toastr.options = {
                "progressBar": true,
                "preventDuplicates": true,
                "positionClass": "toast-top-right",
            }
            toastr.error(error);
        }
    });
</script>
</html>
