<div class="container" style="margin-top:50px;">
    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="btn-group col-12" role="group">
                            <button type="button" class="form-control btn btn-outline-secondary active"
                                    id="login-form-link">Iniciar sesión
                            </button>
                            <button type="button" class="form-control btn btn-outline-secondary"
                                    id="register-form-link">Registro
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <!-- LOGIN FORM -->
                            <form id="login-form" action="/login/login" method="post" role="form"
                                  style="display: block;">
                                <div class="form-group">
                                    <input type="email" name="username" id="username_login" tabindex="1"
                                           class="form-control"
                                           placeholder="Usuario" value="">
                                </div>

                                <div class="form-group">
                                    <input type="password" name="password" id="password_login" tabindex="2"
                                           class="form-control" placeholder="Contraseña">
                                </div>

                                <div class="form-group ">
                                    <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                    <label for="remember"> Recordar usuario</label>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-7 ml-auto mr-auto">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                                                   class="form-control btn btn-primary" value="Iniciar sesión">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-7 ml-auto mr-auto">
                                            <input type="button" name="login-submit-guest" id="login-submit-guest"
                                                   tabindex="4"
                                                   class="form-control btn btn-outline-primary"
                                                   value="Iniciar como invitado">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="#" tabindex="5" class="btn btn-link">¿Olvidó su contraseña?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>

                            <!-- REGISTER FORM -->
                            <form id="register-form" action="/login/register" method="post" role="form"
                                  style="display: none;">

                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control"
                                           placeholder="Correo electrónico" value="">
                                </div>

                                <div class="form-group">
                                    <input type="password" name="password" id="password-register"
                                           class="form-control" placeholder="Contraseña">
                                </div>

                                <div class="form-group">
                                    <input type="password" name="confirm_password" id="confirm-password"
                                           class="form-control" placeholder="Confirmar contraseña">
                                </div>

                                <div class="form-group">
                                    <input type="text" name="name" id="name"
                                           class="form-control" placeholder="Nombre">
                                </div>

                                <div class="form-group">
                                    <input type="text" name="surname" id="surname"
                                           class="form-control" placeholder="Apellidos">
                                </div>

                                <div class="form-group">
                                    <input type="date" name="birth_date" id="birth-date"
                                           class="form-control" placeholder="Fecha de nacimiento">
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 ml-auto mr-auto">
                                            <input type="submit" name="register-submit" id="register-submit"
                                                   tabindex="4" class="form-control btn btn-success"
                                                   value="Registrarse">
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/login.js"></script>
