<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Ajustes de usuario
        <!--<small class="float-md-right">{{user.name}}</small>-->
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">Ajustes</li>
    </ol>

    <!-- Content Row -->
    <div class="row">

        <div class="col-lg-3 mb-4">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                <a class="nav-link active" id="v-pills-general-tab" data-toggle="pill" href="#v-pills-general" role="tab" aria-controls="v-pills-general" aria-expanded="true">General</a>
                <a class="nav-link" id="v-pills-security-tab" data-toggle="pill" href="#v-pills-security" role="tab" aria-controls="v-pills-security" aria-expanded="true">Seguridad</a>
                <a class="nav-link" id="v-pills-historical-tab" data-toggle="pill" href="#v-pills-historical" role="tab" aria-controls="v-pills-historical" aria-expanded="true">Historial de acciones</a>
            </div>
        </div>
        <div class="col-lg-9 mb-4">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-general" role="tabpanel" aria-labelledby="v-pills-home-tab">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-sm-4 col-md-3" >
                                <img src="https://randomuser.me/api/portraits/men/17.jpg" class="rounded-circle p-0 mb-4 col-12">
                            </div>
                            <div class="col-12 col-sm-6 col-md-7">
                                <h3>{{user.name}}</h3>
                                <h6>{{user.email}}</h6>
                                <!--<h6>Ubicación: España</h6>-->
                                <!--<h6>Antiguedad: 1 año</h6>-->
                                <!--<h6><a href="#">Más información... </a></h6>-->
                            </div>

                            <div class="col-12 col-sm-2">
                                <div class="btn-group">
                                    <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                                        Acción
                                        <span class="icon-cog icon-white"></span><span class="caret"></span>
                                    </a>
                                    <button class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Modificar</a>
                                        <a class="dropdown-item" href="#"><i class="icon-trash"></i> Borrar</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-security" role="tabpanel" aria-labelledby="v-pills-security-tab">
                    <div >
                        <h3>Cambiar contraseña</h3>
                        <input type="password" name="username" id="username-login" tabindex="1"
                               class="form-control mb-1"
                               placeholder="Antigua contraseña" value="" />
                        <input type="password" name="username" id="username-login" tabindex="1"
                               class="form-control mb-1"
                               placeholder="Repetir antigua contraseña" value="" />
                        <input type="password" name="username" id="username-login" tabindex="1"
                               class="form-control mb-1"
                               placeholder="Nueva contraseña" value="" />
                        <input type="submit"
                               class="form-control btn btn-primary col-12 col-md-3 col-lg-2 float-right mb-2"
                               value="Aceptar" />
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-historical" role="tabpanel" aria-labelledby="v-pills-historical-tab">
                    <h3>Historial de acciones</h3>
                    <p> Aqui se muestran todas las acciones que has realizado desde que te has registrado</p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Accion</th>
                            <th style="text-align: left">Descripcion</th>
                            <th style="text-align: right">Fecha</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each actions}}
                            <tr>
                                <th scope="row">{{@index}}</th>
                                <td>{{name}}</td>
                                <td style="text-align: left">{{description}}</td>
                                <td style="text-align: right">{{date}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /.container -->