.comment{
    border-left: 1px solid grey;
    padding: 10px
}
.comment-date{
    color: #aaa;
    font-size: 13px;
}
.comment-new-submit{
    float:right;
    margin-top:5px;
}
.comment-new-old-separator{
    margin-top:10px;
}
.response-button{
    font-size: 15px;
}
.submit-write-response{
    float:right;
    margin-top:5px;
}